* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*conifgs do dark*/
  --text-color: white;
  --bg-url: url(../CSS/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2) ;
  --switch-bg-url: url(../CSS/moon-stars.svg);
}

.light {
  /*conifgs do light*/
  --text-color: black;
  --bg-url: url(../CSS/Background.png);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02) ;
  --highlight-color: rgba(0, 0, 0, 0.1) ;
  --switch-bg-url: url(../CSS/sun.svg);
}
body {
 /* background-image: url(../CSS/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

 /* background: color-image-repeats-position/size ; */
 background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
 #container {
   width: 100%;
   max-width: 588px;
   /*margin-left: auto;
   margin-right: auto;*/
   margin: 56px auto auto auto;
   padding: 0 24px;
  
 }

 #profile {
  text-align: center;
  /* mas se o pai dele definir ele aceita ( elemento in-line) */
  padding: 24px;
 }

 #profile img{
   width: 112px;
   /*elementos in-line eu nao consigo aplicar margin */
 }

 #profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
 }
  /* aqui tem elementos de alinhamento*/
 #switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
 }
 #switch button {
  height: 32px;
  width: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  /* como colocar um item sobre o outro e centralizar*/
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
 }
 .light #switch button {
  right: 0;
  left: initial;
 }

 #switch span {

  display: block;
   width: 64px;
   height: 24px;
   background: var(--surface-color);
   border: 1px solid var(--stroke-color);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   border-radius: 9999px;
 }

 /* links */
 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
 }

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: bold;
  transition: background 0.5s;
}

/* pseudo-selector: para quando o mouse tiver em cima mudar*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
   background: var(--highlight-color);
   padding: 16px;
} 

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
